.aboutHome{
    height: auto;
    margin-bottom: -200px;
}
.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.hd{
    text-align: center;
    margin-top: -10px;
}
.aboutHome #heading{
    text-align: left;
    padding: 0;
}
.aboutHome #heading h3{
    color: #1eb2a6;
}
.aboutHome .left .img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    background-color: #8e9696;
    border: 5px solid #1eb2a6;
    margin-top: 100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow:0 5px 25px -2px rgba(4, 163, 236, 0.06);
    box-shadow:0 24px 36px -11px rgba(12, 121, 223, 0.94)
}.aboutHome .right{
    padding: 80px 50px;
}
.aboutHome .items{
    margin-top: 50px;
}
.aboutHome .item{
    padding: 20px;
    margin-top: 30px;
    transition: 0.5s;
    background-color: #fff;
}
.aboutHome .item h2{
    font-size: 20px;
    margin-bottom: 15px;
}
.aboutHome .item:hover{
    color: #fff;
    cursor: pointer;
    background: #1eb2a6;
    box-shadow:0 5px 25px -2px rgb(0 0 0 /6%)
}
.aboutHome .imgs{
    width: 70px;
    height: 70px;
}
.awrapper{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: #fff;
    background-color: #3e3f3f;
    /* background-image: url("./awrapper.webp"); */
}
.awrapper .box{
    padding: 70px 0px;
    
}
.awrapper .img{
    margin-right: 30px;
}
.awrapper h1{
    font-size: 30px;
}
.awrapper h3{
    font-size: 15px;
    font-weight: 600;
}
